version: "3.9"

services:
  api:
    container_name: LibreChat
    image: ghcr.io/danny-avila/librechat:latest
    restart: always
    ports:
      - "${PORT:-3080}:3080"
    env_file:
      - .env
    environment:
      HOST: 0.0.0.0
      RAG_PORT: 8000
      RAG_API_URL: http://rag_api:8000
      MONGO_URI: mongodb://mongodb:27017/librechat
      MEILI_HOST: http://meilisearch:7700

    depends_on:
      - mongodb
      - meilisearch
      - rag_api

    extra_hosts:
      - "host.docker.internal:host-gateway"

    volumes:
      - ./images:/app/client/public/images
      - ./uploads:/app/uploads
      - ./librechat.yaml:/app/librechat.yaml


  mongodb:
    container_name: chat-mongodb
    image: mongo:6.0
    restart: always
    command: mongod --noauth
    tmpfs:
      - /data/db

  meilisearch:
    container_name: chat-meilisearch
    image: getmeili/meilisearch:v1.12.3
    restart: always
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_ENV=development
    tmpfs:
      - /meili_data

  rag_api:
    container_name: rag_api
    image: ghcr.io/danny-avila/librechat-rag-api-dev-lite:latest
    restart: always
    environment:
      DATABASE_URL: postgresql://rag:rag@vectordb:5432/rag
      POSTGRES_DB: rag
      POSTGRES_USER: rag
      POSTGRES_PASSWORD: rag
      POSTGRES_HOST: vectordb
      POSTGRES_PORT: 5432
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    depends_on:
      - vectordb
    ports:
      - "8000:8000"


  vectordb:
    container_name: vectordb
    image: pgvector/pgvector:0.8.0-pg15
    restart: always
    environment:
      POSTGRES_DB: rag
      POSTGRES_USER: rag
      POSTGRES_PASSWORD: rag
